.container {
    display: -webkit-flex;
    display: flex;
}

#main {
    display: block;
    margin-left: 11em;
    overflow: auto;
}

.sidebar {
    position: fixed;
    z-index: 1;
    width: 10em;
    overflow-y: auto;
    top: 0;
    bottom: 0;
}

.sidebar__item {
    margin-bottom: 20px;
    position: sticky;
    margin-bottom: 0;
    top: 10px;
    z-index: 1;
}